@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #F7FFF9;
}
.container-content {
	max-width: 1260px;
	margin: 0 auto;
}
@media (max-width: 1260px) {
	.container-content {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.btn {
	border: none;
	padding: 0;
}

/* navbar */
.navbar {
	padding: 0;
}
.navbar-light .navbar-nav {
	margin-top: 80px;
	margin-bottom: 8px;
}
.navbar-light .navbar-nav .nav-item:not(:last-child) {
	margin-right: 80px;
}
.navbar-light .navbar-nav .nav-link {
	color: #272727;
	padding: 0;
	font-family: Raleway;
	font-weight: 500;
	font-size: 20px;
}
.dropdown-menu {
	border-radius: 0;
	border: 1px solid rgba(75,133,62,.3);
	padding: 0;
}
.dropdown-item {
	padding: .25rem 1rem;
	font-family: Raleway;
	font-weight: 400;
	font-size: 16px;
	color: #000;
}

.dropdown-item:hover {
	color: #6c757d;
    background-color: transparent;
}
.dropright::after,
.dropdown-toggle::after {
	display:none;
}
.nav-submenu {
	background-color: #F7FFF9 ;
}
.nav-submenu .dropdown-item:not(:last-child) {
	border-bottom: 1px solid rgba(75,133,62,.3);
}
.navbar-collapse .form-inline {
	margin-top: 55px;
}
.dropdown-divider {
	margin: 0;
	border: 1px solid #4B853E;
}

@media (max-width: 992px) {
	.navbar {
		padding: 20px 20px 10px;
	}
	.navbar-light .navbar-nav {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		margin: 16px;
	}
	.navbar-light .navbar-nav .nav-item:not(:last-child) {
		margin-right: 0;
	}
	.nav-submenu .dropdown-item:not(:last-child) {
		border-bottom: none;
	}
	.navbar-collapse .form-inline {
		margin-top: 15px;
		margin-left: 15px;
	}
	.dropdown-menu {
		border: none;
		margin-left: 20px;
		padding: 0;
	}
	.btn {
		margin-top: 0;
	}
}

/* section main*/
.main {
	margin-bottom: 100px;
}
.leaves-right {
	margin-top: 10px;
	right: 0;
}
.leaves-left {
	left: 0;
}
.main-jumbotron {
	margin-bottom: 110px;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.col-3,
.col-6,
.col-12 {
	padding-left: 0;
	padding-right: 0;
}
.portal-title {
	margin-top: 100px;
	font-family: Raleway;
	font-weight: normal;
	font-size: 72px;
	line-height: 85px;
	color: #5F7C59;
}
.portal-type {
	margin-top: 32px;
	font-family: "Poiret One";
	font-size: 45px;
	line-height: 53px;
	color: #272727;
}
.btn-message {
	margin-top: 100px;
	padding: 31px 85px;
	font-family: Raleway;
	font-size: 27px;
	line-height: 32px;
	color: #F5F5F5;
	background: #4B853E;
}
.main-block-content {
	margin-top: 130px;
}
.main-content {
	font-family: Raleway;
	font-weight: normal;
	font-size: 22px;
	line-height: 29px;
	color: #272727;
	margin-top: 35px;
	text-align: justify;
}
.main-slogan {
	font-family: Raleway;
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	color: #5F7C59;
	margin-top: 71px;
}
@media (max-width: 992px) {
	.main {
    	margin-bottom: 50px;
	}
	.leaves-right {
		max-width: 45%;
	}
	.leaves-left {
		margin-top: 88px;
		max-width: 42%;
	}
	.portal-title {
		margin-top: 30px;
		font-size: 3.3em;
	}
	.portal-type {
		margin-top: 0;
		font-size: 2.5em;
	}
	.btn-message {
		padding: 16px 48px;		
		font-size: 1.25em;
		margin-top: 70px;
	}
	.main-jumbotron {
    	margin-bottom: 50px;
	}
	.main-block-content {
    	margin-top: 50px;
	}
}
@media (max-width: 768px) {
	.jumbotron {
		padding: 0;
	}
	.leaves-right {
		margin-top: 0;
		max-width: 40%;
	}
	.leaves-left {
		display: none;
	}
	.portal-title {
		margin-top: 80px;
		margin-bottom: 0;
    	font-size: 3em;
	}
	.portal-type {
		margin-top: 0;
		font-size: 2.2em;
	}
	.btn-message {
		padding: 16px 48px;		
		font-size: 1.25em;
		margin-top: 70px;
	}
}
@media (max-width: 576px) {
	.leaves-right {
		display: none;
	}
	.btn-message {
		margin-top: 50px;
	}
}

/* section news */
.news-title {
	text-align: center;
	font-family: Raleway;
	font-weight: 600;
	font-size: 30px;
	line-height: 35px;
	color: #5F7C59;
	margin-bottom: 35px;
}
.news-card-group {
	margin-bottom: 100px;
}
@media (max-width: 768px) {
	.news-card-group {
		margin-bottom: 50px;
	}
}
.news-card {
	border: none;
}
.news-card-body {
	position: absolute;
	background: rgba(255,255,255,.77);
	min-height: 170px;
	bottom: 0;
	text-align: center;
	padding: 1rem;
}
.news-card:not(:last-child) {
	margin-right: 44px;
}
@media (max-width: 576px) {
	.news-card:not(:last-child) {
		margin-right: 0;
		margin-bottom: 2em;
	}	
}
.news-card-text {
	font-family: Raleway;
	font-size: 25px;
	line-height: 29px;
	color: #000;
}
.news-card-link {
	color: #000;
}
.news-card-link:hover {
	color: rgba(0,0,0,.8);
	text-decoration: none;
}


/* section green-tourism */
.breadcrumb {
	padding: 80px 0 35px;
	margin-bottom: 0;
}
.breadcrumb-item {
	font-family: Raleway;
	font-weight: 400;
	font-size: 18px;
	line-height: 21.13px;
	padding-right: .8rem;	
}
.breadcrumb-item.active {
	font-family: Raleway;
	font-weight: 400;
	font-size: 18px;
}
.breadcrumb-link {
	color: #000;
}
.breadcrumb-link:hover {
	text-decoration: none;
	color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 1rem;
    color: #6c757d;
    content: ">";
}

.main-card-first {
	margin-bottom: 90px;
}
.main-card-img {
	max-width: 561px;
}

.green-card-group {
	margin-bottom: 100px;
}
.green-card-title {
    margin-bottom: 70px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #5F7C59;
}
.green-card-content {
	font-family: Raleway;
	font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #272727;
	text-align: justify;
	padding-bottom: 74px;
}
.green-card-text {
	font-family: Raleway;
	font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: #272727;
	text-align: center;
}
.second-green-card:not(:last-child) {
	margin-right: 100px;
}
/*
.green-rectangle {
	background-color: #2D4D22;
	-width: 100%;
	height: 108px;
	margin-left: 20%;
	margin-bottom: 90px;
}
.main-card-img::before {
	content: '';
	position: absolute;
	width: 935px;
	height: 108px;
	display: block;
	height: 1px;
	background: green;
}
*/

/* section travel-search */
.travel-search {
	margin-bottom: 100px;
}
.travel-form-wrapper {
	width: 100%;
	background-color: #2D4D22;
}
.search-card-body{ 
	padding: 0;
}
.search-form-row {
	margin: 0;
	padding-bottom: 80px;
}
.search-card-title {
	font-family: Raleway;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	color: #2D4D22;
	margin-bottom: 25px;
}
.search-card-subtitle {
	font-family: Raleway;
	font-weight: 500;
	font-size: 28px;
	line-height: 35px;
	color: #2D4D22;
	padding-bottom: 50px;
}
.form-input-title {
	font-family: Raleway;
	font-size: 25px;
	line-height: 29px;
	color: #FFFFFF;
	margin-top: 80px;
	margin-bottom: 35px;
}

.btn-search-wrapper {
	text-align: center;
	background-image: url(../img/bg-search.png);
}
.form-btn-search {
	font-family: Raleway;
	font-size: 28px;
	line-height: 33px;
	color: #272727;
	background: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 0;
	padding: 15px 100px;
	margin: 85px 0;
}


input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
	padding-right: 0;
}

/* end section green-tourism */








/* footer */
.footer {
	margin-bottom: 40px;
}
.footer-nav-title {
	margin-top: 35px;
	margin-bottom: 0px;
	font-family: Raleway;
	font-weight: 400;
	font-size: 22px;
	color: #5F7C59;
}
.list-group {
	margin: 60px 0 20px;
}
.list-group-item {
	border:none;
	padding: 0;
	background-color: transparent;
}
.list-group-link {
	font-family: Raleway;
	font-weight: 500;
	font-size: 14px;
	color: #272727;
}
.list-group-link:hover {
	text-decoration: none;
	color: #6c757d;
}
.nav-second-level {
	margin-left: 2em;
}
.nav-second-level .list-group-item {
	margin-top: 0;
}
.form-inline {
	margin-top: 20px;
}
.form-control {
	border-radius: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	padding-left: 0;
	padding-bottom: 0;
}
.form-control:focus {
	box-shadow: none;
	border-bottom: 1px solid #ced4da;
}
.form-inline .form-control {
	width: 250px;
}
.form-control::placeholder {
	font-family: Raleway;
	font-weight: 300;
	font-size: 14px;
	line-height: 16.44px;
	color: #525252;
}
.social-wrapper {
  	margin-top: 150px;
  	margin-bottom: 20px;
}
.social-item-link {
  	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
}
.social-item-linkedin {
	background-color: #007AB9;
}
.social-item-viber {
	background-color: transparent;
}
.social-item-telegram {
	background-color: #039BE5;
}
.social-item-link:not(:first-child) {
	margin-left: 24px;
}
@media (max-width: 576px) {
	.social-wrapper {
		margin-top: 80px;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
  	}
	.social-item-link:not(:first-child) {
		margin-left: 16px;
	}
	.footer {
		margin-bottom: 10px;
	}
}

.intro a:hover {
	transition: .8s all;
    -webkit-transition: .8s all;
    -o-transition: .8s all;
    -ms-transition: .8s all;
    -moz-transition: .8s all;
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}