@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #F7FFF9;
}
html { 
	font-size: 100% 
}
.container-content {
	max-width: 1260px;
	margin: 0 auto;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-8,
.col-12,
.col-sm-3,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8 {
	padding-left: 0;
	padding-right: 0;
	border-left:none;
}
.btn {
	border: none;
	padding: 0;
}
@media (max-width: 1260px) {
	.container-content {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
/* end global */

/* navbar */
.navbar {
	padding: 0;
}
.navbar-light .navbar-nav {
	margin-top: 5rem;
	margin-bottom: .5rem;
}
.navbar-light .navbar-nav .nav-item:not(:last-child) {
	margin-right: 3.5rem;
}
.navbar-light .navbar-nav .nav-link {
	color: #272727;
	padding: 0;
	font-family: Raleway;
	font-weight: 500;
	font-size: 1.25em;
}
.header-brand {
	padding: 0;
}
.nabvar-title {
	color: #272727;
    font-family: Raleway;
    font-weight: 500;
	font-size: 1.2em;
	bottom: -16px;
}
.dropdown-menu {
	border-radius: 0;
	border: 1px solid rgba(75,133,62,.3);
	padding: 0;
}
.dropdown-item {
	padding: .25rem 1rem;
	font-family: Raleway;
	font-weight: 500;
	font-size: .95em;
	color: #000;
}
.dropdown-item:hover {
	color: #6c757d;
    background-color: transparent;
}
.dropright::after,
.dropdown-toggle::after {
	display:none;
}
.nav-submenu {
	background-color: rgba(235,249,238,.9) ;
}
.nav-submenu .dropdown-item:not(:last-child) {
	border-bottom: 1px solid rgba(75,133,62,.3);
}
.navbar-collapse .form-inline {
	margin-top: 55px;
}
.dropdown-divider {
	margin: 0;
	border: 1px solid #4B853E;
}
@media (max-width: 992px) {
	.navbar {
		padding-bottom: .625rem;
	}
	.navbar-light .navbar-nav {
		margin-top: .625rem;
		margin-bottom: 0;
	}
	.navbar-light .navbar-nav .nav-link {
		margin: 1rem;
	}
	.navbar-light .navbar-nav .nav-item:not(:last-child) {
		margin-right: 0;
	}
	.nav-submenu .dropdown-item:not(:last-child) {
		border-bottom: none;
	}
	.navbar-collapse .form-inline {
		margin-top: .95rem;
		margin-left: .95rem;
	}
	.header-brand {
		margin-top: 0;
		margin-right: 0;
	}
	.dropdown-menu {
		border: none;
		margin-left: 1.25rem;
		padding: 0;
	}
	.btn {
		margin-top: 0;
	}
}
@media (max-width: 768px) {
	.navbar-light .navbar-nav .nav-link {
		margin: .5rem 1rem;
		font-size: 1em;
	}
}
@media (max-width: 450px) {
	.nabvar-title {
		font-size: .8em;
		bottom: -6px;
	}
}
/* end navbar */

/* breadcrumb */
.breadcrumb {
	padding: 5rem 0 3.75rem;
	margin-bottom: 0;
}
.breadcrumb-item {
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.25em;
	line-height: 1.3rem;
	padding-right: .8rem;	
}
.breadcrumb-item.active {
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.25em;
}
.breadcrumb-link {
	color: #000;
}
.breadcrumb-link:hover {
	text-decoration: none;
	color: #6c757d;
}
.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 1rem;
    color: #6c757d;
    content: ">";
}
@media (max-width: 992px) {
	.breadcrumb {
    	padding: 2.45rem 0 2.45rem;
	}
}
@media (max-width: 768px) {
	.breadcrumb {
    	padding: 2.45rem 0 2.45rem;
	}
	.breadcrumb-item {
		font-size: 1em;
	    line-height: 1.3rem;
	    padding-right: .6rem;
  	}
	.breadcrumb-item.active {
    	font-size: 1em;
	}
}
@media (max-width: 576px) {
	.breadcrumb {
		padding: 2.45rem 0 1.8rem;
	}
}
@media (max-width: 400px) {
	.breadcrumb-item.active {
		display: none;
	}
}

/* end breadcrumb ===================== */

/* section index main*/
.main {
	margin-bottom: 6.25rem;
}
.leaves-right {
	margin-top: .625rem;
	right: 0;
}
.leaves-left {
	left: 0;
}
.main-jumbotron {
	margin-bottom: 6.8rem;
}
.portal-title {
	margin-top: 6.25rem;
	font-family: Raleway;
	font-size: 4.75em;
	line-height: 5.3rem;
	color: #5F7C59;
}
.portal-type {
	margin-top: 2rem;
	font-family: "Poiret One";
	font-size: 2.75em;
	line-height: 53px;
	color: #272727;
}
.btn-message {
	margin-top: 6.25rem;
	padding: 1.85rem 5.3rem;
	font-family: Raleway;
	font-size: 1.65rem;
	line-height: 2rem;
	color: #F5F5F5;
	background: #4B853E;
}
.main-block-content {
	margin-top: 8rem;
}
.main-content {
	font-family: Raleway;
	font-weight: 300;
	font-size: 1.5em;
	color: #272727;
	margin-top: 2.2em;
	text-align: justify;
}
.main-slogan {
	font-family: Raleway;
	font-weight: 600;
	font-size: 1.8em;
	line-height: 2rem;
	color: #5F7C59;
	margin-top: 4.35rem;
}
@media (max-width: 992px) {
	.main {
    	margin-bottom: 3rem;
	}
	.leaves-right {
		max-width: 45%;
	}
	.leaves-left {
		margin-top: 5.55rem;
		max-width: 42%;
	}
	.portal-title {
		margin-top: 1.8rem;
		font-size: 3.3em;
	}
	.portal-type {
		margin-top: 0;
		font-size: 2.5em;
	}
	.main-content {
		font-size: 1.25em;
	}
	.btn-message {
		padding: 1rem 3rem;		
		font-size: 1.25em;
		margin-top: 4.35rem;
	}
	.main-jumbotron {
    	margin-bottom: 3rem;
	}
	.main-block-content {
    	margin-top: 3rem;
	}
}
@media (max-width: 768px) {
	.jumbotron {
		padding: 0;
	}
	.leaves-right {
		margin-top: 0;
		max-width: 40%;
	}
	.leaves-left {
		display: none;
	}
	.portal-title {
		margin-top: 3rem;
		margin-bottom: 0;
    	font-size: 3em;
	}
	.portal-type {
		margin-top: 0;
		font-size: 2.2em;
	}
	.main-content {
		font-size: 1.1em;
	}
	.main-slogan {
		margin-top: 2.35rem;
		text-align: center;
	}
	.btn-message {
		padding: 1rem 3rem;		
		font-size: 1.25em;
		margin-top: 4.35rem;
	}
}
@media (max-width: 576px) {
	.leaves-right {
		display: none;
	}
	.btn-message {
		margin-top: 3rem;
	}
	.main-content {
		line-height: 1.3em;
	}
}
/* end section index main */

/* section index news */
.news-title {
	text-align: center;
	font-family: Raleway;
	font-weight: 600;
	font-size: 2em;
	line-height: 2.2rem;
	color: #5F7C59;
	margin-bottom: 2.2rem;
}
.news-card-group {
	margin-bottom: 6.25rem;
}
.news-card {
	border: none;
}
.news-card-body {
	position: absolute;
	background: rgba(255,255,255,.77);
	min-height: 170px;
	bottom: 0;
	text-align: center;
	padding: 1rem;
}
.news-card:not(:last-child) {
	margin-right: 2.55rem;
}
.news-card-text {
	font-family: Raleway;
	font-size: 1.5em;
	line-height: 1.8rem;
	color: #000;
}
.news-card-link {
	color: #000;
}
.news-card-link:hover {
	color: rgba(0,0,0,.8);
	text-decoration: none;
}
@media (max-width: 992px) {
	.news-card-text {
		font-size: 1.2em;
		line-height: 1.5rem;
	}
}
@media (max-width: 768px) {
	.news-card-group {
		margin-bottom: 3rem;
	}
}
@media (max-width: 576px) {
	.news {
		margin: 0 1.2rem;
	}
	.news-card {
		margin-top: 1rem;
	}
	.news-card:not(:last-child) {
		margin-right: 0;
		margin-bottom: 2em;
	}	
}
/* end section index news */

/* section green-tourism */
.main-card-first {
	margin-bottom: 5.5rem;
}
.left-img-card {
	max-width: 561px;
	width: 100%;;
}
.second-green-card-group {
	margin-bottom: 6.25rem;
}
.green-card-title {
    margin-bottom: 2rem;
    font-family: Raleway;
    font-weight: 600;
	font-size: 1.95em;
    line-height: 3rem;
    color: #5F7C59;
}
.green-card-content {
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.4em;
    color: #272727;
	text-align: justify;
}
.green-card-text {
	font-family: Raleway;
	font-weight: 400;
    font-size: 1.4em;
    line-height: 1.6rem;
    color: #272727;
	text-align: center;
}
.second-green-card:not(:last-child) {
	margin-right: 6.25rem;
}
.green-card-link {
	color: #000;
}
.green-card-link:hover {
	color: rgba(0,0,0,.8);
	text-decoration: none;
}
.green-rectangle {
	background-color: #2D4D22;
	height: 7vw;
}
@media (max-width: 992px) {
	.green-card-title {
    	margin-bottom: 1rem;
    	padding: 0 1.25rem;
	}
	.green-card-content {
		font-size: 1.125em;
    	padding: 0 1.25rem 1.25rem;
	}
	.green-card-text {
		font-size: 1.2em;
	}
	.second-green-card-group {
		margin-bottom: 4rem;
	}
	.second-green-card:not(:last-child) {
		margin-right: 3rem;
	}
}
@media (max-width: 768px) {
	.main-card-first {
    	margin-bottom: 3rem;
	}
	.green-card-title {
		font-size: 1.5em;
    	margin-bottom: 1rem;
    	padding: 0 1.25rem;
	}
	.green-card-content {
		font-size: .9em;
     	line-height: 1.3rem;
    	padding: 0 1.25rem 1.25rem;
	}
	.green-card-text {
		font-size: 1em;
	    line-height: 1.25rem;
	}
	.second-green-card-group {
    	margin-bottom: 2.45rem;
	}
	.second-green-card:not(:last-child) {
		margin-right: 1.8rem;
	}
}
@media (max-width: 576px) {
	.main-card-first {
		margin: 0 1rem 1.5rem;
	}
	.green-rectangle {
		display: none;
	}
	.green-card-title {
    	margin: 1rem 0 0;
    	padding: 0;
	}
	.green-card-content {
		font-size: .9em;
     	line-height: 1.125rem;
    	padding: 0;
	}
	.second-green-card-group {
		margin: 0 1rem 2.45rem;
	}
	.second-card-body {
		padding: 1.25rem 0;
	}
	.second-green-card:not(:last-child) {
		margin-right: 0;
	}
}
/* end section green-tourism */

/* travel-search */
.travel-search {
	margin-bottom: 6.25rem;
}
.travel-form-wrapper {
	width: 100%;
	background-color: #2D4D22;
}
.search-card-body{ 
	padding: 0;
}
.search-form-row {
	margin: 0;
	padding-bottom: 5rem;
}
.search-form-group {
	width: 23%;
}
.form-input-title {
	font-family: Raleway;
	font-size: 1.25em;
	line-height: 1.8rem;
	color: #FFFFFF;
	margin-top: 5rem;
	margin-bottom: 2.2rem;
}
.search-form-control {
	border-radius: 0;
	border: 0;
	padding: 0 0 0 .4em;
}
.form-control-date {
	width: 50%;
}
.search-form-group:not(:last-child) {
	padding-right: 1.125rem;
}
.search-card-title {
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.9em;
	line-height: 2.2rem;
	color: #2D4D22;
	margin-bottom: 1.55rem;
}
.search-card-subtitle {
	font-family: Raleway;
	font-weight: 500;
	font-size: 1.65em;
	line-height: 2.2rem;
	color: #2D4D22;
	margin-bottom: 1.5rem;
}
.btn-search-wrapper {
	text-align: center;
	background-image: url(../img/bg-search.png);
}
.btn-search-bg {
	background: rgba(51, 79, 41, 0.54);
}
.form-btn-search {
	font-family: Raleway;
	font-size: 1.75em;
	line-height: 2.1rem;
	color: #272727;
	background: #FFFFFF;
	border-radius: 0;
	padding: .95rem 6.25rem;
	margin: 5.3rem 0;
}
@media (max-width: 992px) {
	.travel-search {
		margin-bottom: 5rem;
	}
	.search-form-group {
		width: 47%;
	}
	.form-input-title {
		margin-top: 2.45rem;
		margin-bottom: 1.25rem;
	}
	.form-btn-search {
		margin: 3rem 0;
	}
	.search-card-title {
		font-size: 1.5em;
	}
}
@media (max-width: 768px) {
	.travel-search {
    	margin-bottom: 3rem;
	}
	.search-card-title {
		font-size: 1.1em;
	    line-height: 1.8rem;
	    margin-bottom: 1.5rem;
	}
	.search-card-subtitle {
		font-size: 1.4em;
	    line-height: 1.9rem;
	}
	.search-form-row {
		padding-bottom: 2.45rem;
	}
	.form-group {
		margin-bottom: 0;
	}
	.form-input-title {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	.form-btn-search {
	    font-size: 1.2em;
	    line-height: 1.8rem;
	    padding: .5rem 3.75rem;
	    margin: 4rem 0;
	}
}
@media (max-width: 576px) {
	.search-card-title {
		padding: 0 1.5rem;
	}
	.search-form-group:nth-child(even) {
		margin-right: .625rem;
	}
}
/* end travel-search */

/* section inclusive-tourism */
.right-img-card {
	max-width: 630px;
	width: 100%;
}
.inclusive-card-title {
	margin-bottom: 2rem;
    font-family: Raleway;
    font-weight: 600;
    font-size: 1.95em;
    line-height: 3rem;
    color: #5F7C59;
}
.inclusive-card-content {
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.4em;
    color: #272727;
	text-align: justify;
}
.inclusive-card-body {
	margin-right: 4.5rem;
}
.inclusive-group-title {
	font-family: Raleway;
	font-size: 1.8em;
	line-height: 2.1rem;
	margin-bottom: 3rem;
}
.inclusive-card-group {
	margin-bottom: 5rem;
}
.inclusive-card-text {
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.4em;
	line-height: 1.6rem;
    color: #272727;
	text-align: justify;
}
.inclusive-card-link {
	color: #000;
}
.inclusive-card-link:hover {
	color: rgba(0,0,0,.8);
	text-decoration: none;
}
@media (max-width: 992px) {
	.inclusive-card-title {
		margin-bottom: 1rem;
	}
	.inclusive-card-body {
		margin-right: 2rem;
	}
	.inclusive-card-content {
		font-size: 1.125em;
	}
	.inclusive-group-title {
		font-size: 1.65em;
	}
	.inclusive-card-text {
		font-size: 1.2em;
	}	
}
@media (max-width: 768px) {
	.inclusive-card-title {
		font-size: 1.5em;
		margin-bottom: 0;
	}
	.inclusive-card-body {
		margin-right: 1.5rem;
	}
	.inclusive-card-content {
		font-size: .9em;
    	line-height: 1.3rem;
	}
	.inclusive-card-group {
		margin-bottom: 1rem;
	}
	.inclusive-group-title {
		font-size: 1.5em;
		margin-bottom: 2rem;
	}
	.inclusive-card-text {
		font-size: 1em;
		line-height: 1.25rem;
	}	
}
@media (max-width: 576px) {
	.inclusive-card-group {
		margin: 0 1rem 2.45rem;
	}
	.inclusive-card-body {
		margin-right: 0;
	}
}
/* end section inclusive-tourism */

/* section ecomapa */
.ecomapa-card {
	margin-bottom: 6rem;
}
.ecomap {
	width: 100%;
	height: 600px;
	border: 1px solid rgba(75,133,62,.3);
}
.ecomap-title {
	font-family: Raleway;
	font-weight: 600;
    font-size: 1.95em;
    line-height: 3rem;
	color: #5F7C59;
	margin-bottom: 2.5rem;
}
.form-check-title {
	font-family: Raleway;
	font-weight: 500;
	font-size: 1.6em;
	line-height: 2rem;
	color: #000000;
	margin-bottom: 3rem;
}
.form-check {
	margin-bottom: 1.8rem;
}
.form-check-input {
	width: 1.4rem;
	height: 1.4rem;
}
.form-check-label {
	font-family: Raleway;
	font-size: 1.5em;
	line-height: 1.8rem;
	color: #000000;
	margin-left: 1rem;
}
@media (max-width: 992px) {
	.ecomap {
		max-width: 830px; 
		height: 500px;
	}
	.form-check-title {
		font-size: 1.2em;
		line-height: 1.5rem;
		margin-bottom: 2rem;
	}
	.form-check-title {
		margin-left: .8rem;
	}
	.form-check {
		margin-left: .8rem;
		margin-bottom: .5rem;
	}
	.form-check-input {
		width: 1rem;
		height: 1rem;
	}
	.form-check-label {
		font-size: 1.3em;
		line-height: 1.8rem;
		margin-left: .5rem;
	}
}
@media (max-width: 576px) {
	.ecomapa-card {
		margin-bottom: 2rem;
	}
}
/*end section ecomapa */

/* ecopatrol */
.ecopatrol {
	background: url(../img/bg-ecopatrol.png) no-repeat;
	margin-bottom: 5rem;
}
.ecopatrol-bg {
	background: rgba(102, 139, 93, 0.8);
	padding: 3.45rem 0;
}
.ecopatrol-box {
	margin-bottom: 4rem;
}
.ecopatrol-title {
	font-family: Raleway;
	font-weight: 600;
	font-size: 2em;
	line-height: 2.2rem;
	color: #272727;
	margin-bottom: 2rem;
}
.ecopatrol-content {
	font-family: Raleway;
	font-size: 1.6em;
	line-height: 2rem;
	color: #272727;
}
.ecopatrol-list-item {
	display: block;
	text-align: center;
	vertical-align: middle;
	background: #455C40;
	max-width: 556px;
	min-height: 80px;
	padding: .625rem;
	font-family: Raleway;
	font-size: 1.5em;
	line-height: 1.9rem;
	color: #F4F4F4;
	margin-bottom: 2rem;
}
.ecopatrol-list-item:hover {
	text-decoration: none;
	color: #6c757d;
} 
.ecopatrol-card {
	margin-bottom: 5.5rem;
}
.ecopatrol-img-card {
	max-width: 556px;
	width: 100%;
}
.ecopatrol-card-title {
    font-family: Raleway;
    font-weight: 600;
	font-size: 1.95em;
    line-height: 3rem;
    color: #5F7C59;
}
.ecopatrol-card-content {
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.4em;
    color: #272727;
	text-align: justify;
	margin-bottom: 4rem;
}
@media (max-width: 992px) {
	.ecopatrol-card-title {
		font-size: 1.5em;
    	padding: 0 1.25rem;
	}
	.ecopatrol-card-content {
		font-size: 1.125em;
		padding: 0 1.25rem 1.25rem;
		margin-bottom: 1rem;
	}
}
@media (max-width: 768px) {
	.ecopatrol-bg {
		padding: 1.45rem 0;
	}
	.ecopatrol-box {
		margin-bottom: 2rem;
	}
	.ecopatrol-list-item {
		max-width: 100%;
		text-align: center;
	}
	.ecopatrol-title {
		font-size: 1.5em;
    	margin-bottom: 1rem;
    	padding: 0 1.25rem;
	}
	.ecopatrol-content {
		font-size: 1.4em;
		line-height: 1.9rem;
		padding: 0 1.25rem;
	}
	.ecopatrol-card {
    	margin-bottom: 3rem;
	}
	.ecopatrol-card-title {
		font-size: 1.1em;
    	padding: 0 1.25rem;
	}
	.ecopatrol-card-content {
		font-size: .9em;
     	line-height: 1.3rem;
	}
}
@media (max-width: 576px) {
	.ecopatrol-img-card {
		margin-bottom: 1rem;
	}
	.ecopatrol-card-title {
    	padding: 0;
	}
	.ecopatrol-card-content {
    	padding:0;
	}
	.ecopatrol-list-item {
		font-size: 1.2em;
		line-height: 1.5rem;
		min-height: 0;
	}
}
/* end ecopatrol */

/* beekeeping */
.beekeeping-title {
	font-family: Raleway;
    font-weight: 600;
    font-size: 1.95em;
    line-height: 3rem;
	color: #5F7C59;
	margin-bottom: 2rem;
}
.beekeeping-card-right,
.beekeeping-card-left {
	margin-bottom: 6.25rem;
}
.corn-rectangle {
	background: #FBF7D3;
	height: 100%;
}
.bee-card-right {
	padding: 1rem 2rem;
}
.bee-card-left {
	padding: 1rem 2rem 1rem 5rem;
}
.bee-card-content {
	font-family: Raleway;
	font-size: 1.4em;	
	color: #272727;
	margin-bottom: 3rem;
}
.beekeeping-analysis {
	background-color: #FBF7D3;
	padding-bottom: 2rem;
	margin-bottom: 6rem;
}
.beekeeping-analysis-conclusion {
	font-family: Raleway;
	font-weight: 500;
	font-size: 1.6em;
	line-height: 1.8rem;
	text-align: center;
	padding: 2rem 1.2rem 1rem;
	margin-bottom: 0;
}
.analysis-conclusion-item {
	font-family: Raleway;
	font-size: 1.5em;
	line-height: 1.8rem;
	background-color: #92C188;
	margin: 1.5rem 3rem 2rem;
	padding: 1.4rem 2rem;
}
@media (max-width: 992px) {
	.bee-card-content {
		font-size: 1.125em;
		margin-bottom: 1rem;
	}
	.beekeeping-analysis-conclusion {
		font-size: 1.4em;
		line-height: 1.6rem;
	}
	.analysis-conclusion-item {
		font-size: 1.3em;
		line-height: 1.5rem;
		margin: 1rem 3rem 1.5rem;
		padding: 1.2rem 1.5rem;
	}
}
@media (max-width: 768px) {
	.beekeeping-card-right, 
	.beekeeping-card-left {
		margin-bottom: 3rem;
	}
	.bee-card-right {
		padding: 1rem 1.2rem;
	}
	.bee-card-left {
		padding: 1rem 1.2rem 1rem 2rem;
	}
	.bee-card-content {
		font-size: 1em;
		line-height: 1.2rem;
		margin-bottom: 1rem;
	}
	.beekeeping-analysis {
		margin-bottom: 3rem;
	}
	.beekeeping-analysis-conclusion {
		font-size: 1.4em;
		line-height: 1.6rem;
	}
	.analysis-conclusion-item {
		font-size: 1.3em;
		line-height: 1.5rem;
		margin: 1rem 3rem 1.5rem;
		padding: 1.2rem 1.5rem;
	}
}
@media (max-width: 576px) {
	.bee-card {
		position: static!important;
	}
	.beekeeping-analysis-conclusion {
		font-size: 1.1em;
		line-height: 1.4rem;
	}
	.analysis-conclusion-item {
		font-size: 1em;
		line-height: 1.3rem;
		margin: 1rem 1.5rem;
		padding: 1.2rem 1rem;
	}
}
/* end beekeeping */

/* feedback */
.feedback-title {
	font-family: Raleway;
    font-weight: 600;
    font-size: 1.95em;
    line-height: 3rem;
	color: #5F7C59;
	margin-bottom: 3.45rem;
}
.feedback-form-wrapper {
	margin-bottom: 5rem;
}
.feedback-btn {
	font-family: Raleway;
	font-size: 1.5em;
	margin-bottom: 2rem;
}
.feedback-btn:hover {
	color: #6c757d;
}
.form-bg {
	background-color: #2D4D22;
	padding: 4rem 1.6rem 3rem;
}
.feedback-form-row {
	margin: 0 0 1.6rem;
}
.feedback-form-group:not(:last-child) {
	padding-right: 5rem;
}
.feedback-label {
	font-family: Raleway;
	font-size: 1.5em;
	line-height: 1.8rem;
	color: #FFFFFF
}
.feedback-textarea,
.feedback-form-control {
	border-radius: 0;
	border: 0;
}
.feedback-textarea,
.feedback-form-control {
	font-family: Raleway;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.4rem;
	color: #525252;
}
.feedback-form-title {
	font-family: Raleway;
	font-size: 1.5em;
	margin: 3.45rem 0 2.45rem;
}
.form-text-note {
	font-family: Roboto;
	font-size: 1.2em;
	line-height: 1.4rem;
	color: #0047FF;
	margin-top: .8rem;
}
.feedback-form-btn {
	font-family: Raleway;
	font-size: 1.75em;
	line-height: 2.1rem;
	color: #272727;
	background: #FFFFFF;
	border-radius: 0;
	padding: .95rem 6.25rem;
}
@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
	
}
@media (max-width: 576px) {
	.feedback-form-group:not(:last-child) {
		padding-right: 0;
	}
	.feedback-form-btn {
		font-size: 1.75em;
		line-height: 2.1rem;
		color: #272727;
		background: #FFFFFF;
		border-radius: 0;
		padding: .95rem 2.25rem;
	}
}
/* end feedback */

/* birds-nets */
.birds-nest {
	margin-bottom: 5rem;
}
.birds-nest-title {
	font-family: Raleway;
    font-weight: 600;
    font-size: 1.8em;
    line-height: 2.5rem;
	color: #5F7C59;
	margin-bottom: 2.5rem;
}
.birds-map {
	width: 100%;
	height: 600px;
	border: 1px solid rgba(75,133,62,.3);
	margin-bottom: 5rem;
}
.birds-gallery-title {
	font-family: Raleway;
	font-weight: 600;
	font-size: 1.8em;
	line-height: 2.5rem;
	color: #5F7C59;
}
.birds-slider {
	text-align: center;
	margin-bottom: 5rem;
}
.birds-slider-item:not(:last-child) {
	padding-right: 10px;
}
.birds-slider-list {
	margin: 0 2em;
}
.birds-slider-arrow {
	display: flex;
	justify-content: space-between;
	position: relative;
	bottom: 250px;
}
.birds-arrow-prev {
	font-size: 2em;
	color: #5F7C59;
}
.birds-arrow-next {
	font-size: 2em;
	color: #5F7C59;
}
.birds-content-slider {
	margin-bottom: 6rem;
}
.birds-content-item {
	margin-bottom: 3rem;
}
.birds-content-item:focus {
	outline: none;
}
.birds-card {
	border: none!important;
}
.birds-card-title {
	font-family: Raleway;
	font-weight: 600;
	font-size: 1.8em;
	line-height: 2.2rem;
	color: #5F7C59;
	margin-bottom: 3rem;
}
.birds-card-text {
	font-family: Raleway;
	font-size: 1.3em;
	line-height: 1.7rem;
	color: #272727;
	margin-bottom: 2rem;
}
/* dots */
.birds-content-dots {
	position: absolute;
  	bottom: -45px;
  	display: block;
  	width: 100%;
  	padding: 0;
  	list-style: none;
  	text-align: center;
}
.birds-content-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}
.birds-content-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.birds-content-dots li:not(:last-child) {
	margin-right: 1.5rem;
}
.birds-content-dots li button:hover,
.birds-content-dots li button:focus {
	outline: none;
  }
.birds-content-dots li button:hover:before,
.birds-content-dots li button:focus:before {
  opacity: 1;
}
.birds-content-dots li button:before {
  font-family: 'slick';
  font-size: 4rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .5;
  color: #BCFFAE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  -webkit-text-stroke: 1px #BCFFAE;
  text-shadow: 1px 1px 0 #BCFFAE, -1px -1px 0 #BCFFAE, 1px -1px 0 #BCFFAE, -1px 1px 0 #BCFFAE, 1px 1px 0 #BCFFAE;
}
.birds-content-dots li.slick-active button:before {
  opacity: 1;
  color: #BCFFAE;
}
/* end dots */

@media (max-width: 992px) {
	.birds-nest-title {
		font-size: 1.5em;
		line-height: 2rem;
		margin-bottom: 2rem;
	}
	.birds-slider-arrow {
		bottom: 210px;
	}
}
@media (max-width: 768px) {
	
}
@media (max-width: 576px) {
	.birds-content-item {
		margin-bottom: 1rem;
	}
}
/* end birds-nets */

/* virtual-tourism */
.vtourism-main-card {
	background-image: url(../img/tourism/v-bg.png);
	height: 687px;
	margin-bottom: 5rem;
}
.vtourism-card-box {
	padding: 2rem;
	background: rgba(79, 81, 83, 0.85);	
}
.vtourism-card-box:first-child {
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 450px;
}
.vtourism-card-text {
	font-family: Raleway;
	font-size: 1.5em;
	line-height: 1.8rem;
	color: #F2E8E8;
}
.vtourism-card-right,
.vtourism-card-left {
	margin-bottom: 5rem;
}
.vtourism-card-right .vtourism-body-wrapper {
	padding-top: 2rem;
	padding-left: 3rem;
}
.vtourism-card-left .vtourism-body-wrapper {
	padding-top: 2rem;
	padding-right: 3rem;
}
.vtourism-title {
	font-family: Raleway;
	font-weight: 600;
	font-size: 1.8em;
	line-height: 2.2rem;
	color: #4F5153;
	margin-bottom: 3rem;
}
.vtourism-content {
	font-family: Raleway;
	font-size: 1.5em;
	line-height: 1.8rem;
	color: #272727;
	margin-bottom: 2rem;
}
.vtourism-link {
	font-family: "Poiret One";
	font-weight: 600;
	font-size: 1.6em;
	line-height: 1.8rem;
	color: #000000;
}
.vtourism-link:hover {
	text-decoration: none;
	color: #6c757d;
}
@media (max-width: 992px) {
	.vtourism-card-right .vtourism-body-wrapper {
		padding-top: 1rem;
		padding-left: 2rem;
	}
	.vtourism-card-left .vtourism-body-wrapper {
		padding-top: 1rem;
		padding-right: 2rem;
	}
	.vtourism-card-text {
		font-size: 1.4em;
		line-height: 1.7rem;
	}
	.vtourism-title {
		font-size: 1.6em;
		line-height: 2rem;
		margin-bottom: 2rem;
	}
	.vtourism-content {
		font-family: Raleway;
		font-size: 1.3em;
		line-height: 1.6rem;
		margin-bottom: 1.5rem;
	}
}
@media (max-width: 768px) {
	.vtourism-title {
		font-size: 1.5em;
		line-height: 1.8rem;
		margin-bottom: 1.5rem;
	}
	.vtourism-content {
		font-family: Raleway;
		font-size: 1.1em;
		line-height: 1.4rem;
		margin-bottom: 1.4rem;
	}

}
@media (max-width: 576px) {
	.vtourism-card-right, 
	.vtourism-card-left {
		margin-bottom: 3rem;
		padding: 0 1rem;
	}
	.vtourism-card-left .vtourism-body-wrapper {
		padding-right: 0;
		padding-bottom: 1rem;
	}
	.vtourism-card-right .vtourism-body-wrapper {
		padding-top: 1rem;
		padding-left: 0;
	}
}
@media (max-width: 400px) {
	.vtourism-card-box:first-child {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		max-width: 450px;
	}
	.vtourism-card-box {
		padding: 1.5rem;
	}
	.vtourism-card-text {
		font-size: 1.3em;
		line-height: 1.6rem;
	}
}
/* end virtual tourism */

/* footer */
.footer {
	margin-bottom: 2.45rem;
}
.footer-nav-title {
	margin-top: 2.2rem;
	margin-bottom: 0;
	font-family: Raleway;
	font-weight: 400;
	font-size: 1.4em;
	color: #5F7C59;
}
.list-group {
	margin: 3.75rem 0 1.25rem;
}
.list-group-item {
	border:none;
	padding: 0;
	background-color: transparent;
}
.list-group-link {
	font-family: Raleway;
	font-weight: 500;
	font-size: .875em;
	color: #272727;
}
.list-group-link:hover {
	text-decoration: none;
	color: #6c757d;
}
.nav-second-level {
	margin-left: 2em;
}
.nav-second-level .list-group-item {
	margin-top: 0;
}
.form-inline {
	margin-top: 1.25rem;
}
.search-form-footer {
	border-radius: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.search-form-footer:focus {
	box-shadow: none;
	border-bottom: 1px solid #ced4da;
}
.form-inline .search-form-footer {
	width: 250px;
}
.search-form-footer::placeholder {
	font-family: Raleway;
	font-weight: 300;
	font-size: .875em;
	line-height: 1rem;
	color: #525252;
}
.social-wrapper {
  	margin-top: 9rem;
  	margin-bottom: 1.25rem;
}
.social-item-link {
  	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 2.75rem;
}
.social-item-linkedin {
	background-color: #007AB9;
}
.social-item-viber {
	background-color: transparent;
}
.social-item-telegram {
	background-color: #039BE5;
}
.social-item-link:not(:first-child) {
	margin-left: 1.5rem;
}

@media (max-width: 576px) {
	.social-wrapper {
		margin-top: 5rem;
		margin-bottom: 1.25rem;
		display: flex;
		justify-content: center;
  	}
	.social-item-link:not(:first-child) {
		margin-left: 1rem;
	}
	.footer {
		margin-bottom: .625rem;
	}
}
/* end footer */

/* animate */
.intro a:hover {
	transition: .8s all;
    -webkit-transition: .8s all;
    -o-transition: .8s all;
    -ms-transition: .8s all;
    -moz-transition: .8s all;
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -ms-transform: rotatey(360deg);
}
/* end animate */

/*
@media (max-width: 992px) {
	
}
@media (max-width: 768px) {
	
}
@media (max-width: 576px) {
	
}
*/